In [1]:
# Python can work with the following file types: 
# Comma-separated values (CSV) 
# XLSX (Excel) 
# Plain Text (txt) 
# JSON
# XML 
# HTML 
# PDF (Adobe) 
# DOCX (Microsoft Word) 
# Images 
# MP3 
# MP4 
# ZIP

import pandas as pd 
df_csv = pd.read_csv('csvtest.csv')

In [2]:
display(df_csv)

                 Film      Year Awards  Nominations
0  7 Faces of Dr. Lao      1964  0 (1)            1
1          7th Heaven   1927/28      3            5